* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 100%;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  position:relative;
}

.post-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}


h1 {
  text-align:center;
}
body {
  background: #FFFDF8;
}

.add-btn {
  top: 90%;
  left: 90%;
  position: fixed;
}


.post {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 2px solid #1976d2;
  margin-top: 15px;
  justify-content: flex-start;
  min-width: 650px;
  max-width: 1000px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.post:hover {
  box-shadow: 5px 5px 8px rgba(154, 147, 140, 0.5), 2px 2px 6px rgba(255, 255, 255, 1);
}


.menu {
  width: 650px;
  justify-content: center;
}

.post-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


img {
  float: left;
  width:  100%;
  height: 100%;
  /*object-fit: contain;*/
  object-fit: cover;
  border-radius: 5px;
}

.imgContainer {
  width: 900px;
  height: 900px;
  background: #1976d2;
  border-radius: 5px;
}

